{
  "Firebase_url": "",
  "Read_user": "",
  "Read_password": "",
  "Read_database": "",
  "Read_protocol_host_port": "",
  "Env": "",
  "Service": "",
  "ServiceVersion": "",
  "AgentHost": "",
  "AgentPort": ""
}